
body {
    font-family: Arial, sans-serif;
    background-color: #f3f0f0;
    margin: 0;
    padding: 0;
}


.container {
    width: 80%;
    margin: 20px auto;
}


.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: rgb(7, 134, 7);
    color: #fff;
    padding: 10px 20px;
    background-color: rgb(43, 42, 42);
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.display-6{
    text-align: center;
}

.card-body {
    padding: 20px;
}


.table {
    width: 100%;
    border-collapse: collapse;
}

.table-headers {
    background-color: #f2f2f2;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}


.btn-1{
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #fff;
    background-color: #0557af;
    border: none;
    border-radius: 3px;
}
.btn-2{
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(141, 12, 12);
    border: none;
    border-radius: 3px;
}

.btn-1:hover{
    border-color: black;

}
.btn-2:hover{
    background-color: black;

}