*{
    margin: 0;
    padding: 0;
    font-family: Inter,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(90, 158, 124, 0.8),rgb(207, 223, 215)), url(/assets/FB2.png);
    background-position: right;
    background-size: cover;
    position: relative;
}

.container .form-box h1{
    color: darkgreen;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: segoe ui;

}
.form-box{
    width: 50%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    transform: translate(-50%, -50%);
    background: #f3f3f3;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(14, 14, 14, 0.8);
}

.input-field{
    background: #e9e6e6fa;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 16px 13px;
}

.gender select[name="gender"]{
    background: #e9e6e6fa;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px; 
    appearance: none;
    padding-left: 15px;
    padding-right: 60%;
}

select[name="gender"] option {
    background-color: #fff;
    color: #333;
    margin: 10px;
}
form p{
    text-decoration: none;
    text-align: left;
    font-size: 13px;

}
form p a{
    text-decoration: none;
    color: darkgreen;
}
button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    border-radius: 9px;
    background: darkgreen;
    color: #fff;
}
button:hover{
    background-color: #fff;
    color: darkgreen;
    font-weight: bold;
    border-color: darkgreen;
}
