*{
    margin: 0;
    padding: 0;
    font-family: Inter,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif;
}

nav {
    background-color: #f3f0f0;
    padding: 10px;
    overflow: auto;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0px 20px rgba(1, 5, 5, 0.2);
    font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 20px;
}

#left-links {
    float: left;
    display: inline;
    padding: 10px;
    padding-bottom: 2px;
    padding-left: 30px;
}

#right-links {
    float: right;
    display: inline;
    padding: 10px;
    margin-right: 20px;
    justify-content: center;
}

nav a {
    color: darkgreen;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: rgb(134, 136, 138);
    border-radius: 12px;
    color: #ffffff;
}
.image-container2{
    position: absolute;
    margin-top: 9px;
    margin-left: 5px;
    
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f1f1ce;
    background-position: right;
    background-size: cover;
    margin-top: 10px;
}

.container .form-box h1{
    color: darkgreen;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: segoe ui;
}
.form-box{
    width: 50%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    background: #f3f3f3;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.input-field{
    background: #e9e6e6fa;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 16px 13px;
}

.gender select[name="gender"]{
    background: #e9e6e6fa;
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px; 
    appearance: none;
    padding-left: 15px;
    padding-right: 60%;
}

select[name="gender"] option {
    background-color: #fff;
    color: #333;
    margin: 10px;
}
form p{
    text-decoration: none;
    text-align: left;
    font-size: 13px;

}
form p a{
    text-decoration: none;
    color: darkgreen;
}
button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    border-radius: 9px;
    background: darkgreen;
    color: #fff;
}
button:hover{
    background-color: #fff;
    color: darkgreen;
    font-weight: bold;
    border-color: darkgreen;
}

.card-container {
    width: 400px;
    height: 340px;
    background-color: white; 
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    display: none;
}

p{
    font-weight: bold;
    font-size:  large;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(36, 36, 36, 0.699);
}