body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f3f0f0;
    padding: 10px;
    overflow: auto;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 0px 20px rgba(1, 5, 5, 0.2);
    font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 20px;
}

#left-links {
    float: left;
    display: inline;
    padding: 10px;
    padding-bottom: 2px;
    padding-left: 30px;
}

#right-links {
    float: right;
    display: inline;
    padding: 10px;
    margin-right: 20px;
    justify-content: center;
}

nav a {
    color: darkgreen;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: rgb(134, 136, 138);
    border-radius: 12px;
    color: #ffffff;
}
.image-containeri{
    position: absolute;
    margin-top: 9px;
    margin-left: 5px;
    
}
.header{
    text-align: center;
    margin-top: 20px;
    color: #555;
}
.container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.speaker {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px; 
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    

}
.speaker3 {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px; 
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: 550px;

}
.speaker3 img{
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
}
.speaker-info{
    flex-grow: 1;
}

.speaker img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
}

.speaker-info h2 {
    margin-top: 0; 
    margin-bottom: 10px;
}

.speaker-info p {
    color: #555;
}
.vc-class{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.vc{
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 400px; 
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.vc img{
    max-width: 500%;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 300px;
    height: 280px;
}
.amadi{
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px; 
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.amadi img{
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
}